

/*HTML ELEMENTS*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #666756;
  background: #fff;
}

hr {
  border-top: 2px solid #bbb;
}

/*Class Elements*/

.info {
  text-align: right;
}

/*Logo Element for the picture*/
.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
