
/*HTML ELEMENTS*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #676858;
}

hr {
  border-top: 2px solid #bbb;
}

/*Class Elements*/

.info {
  text-align: right;
  text-transform: uppercase;
}

.text-muted {
  color: #BCBBBB
}

.text-thin {
  font-weight: 100;
}

/*Logo Element for the picture*/
.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

/*Media query*/

/*Desktop Version*/

@media only screen and (max-width: 992px) {
  .info {
    text-align: center;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/*Tablet Version Landscape*/

@media only screen and (max-width: 768px) {
  .info {
    text-align: center;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Phone Version*/
@media only screen and (max-width: 480px) {
  .info {
    text-align: center;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
